{
    "mqtt_local": {
        "host": "127.0.0.1",
        "port": 1883
    },
    "mqtt_remote": {
        "host": "127.0.0.1",
        "port": 1883,
        "username": "",
        "password": "",
        "qos": 0
    },
    "client_id": "nn_bridge_rk3576",
    "geid": 200,
    "stats_interval": 30,
    "rate_limit": 0,
    "channel_timeout": 30,
    "channel_map": {},
    "preview": {
        "host": "127.0.0.1",
        "port": 5544
    },
    "discovery_topic": "inference/bridge",
    "filter_config": "filter_config.json"
}
