{
    "storage_dir": "",
    "max_images": 500,
    "page_size": 20,
    "locations": {
        "0": "摄像头 1",
        "1": "摄像头 2",
        "2": "摄像头 3",
        "3": "摄像头 4",
        "4": "摄像头 5",
        "5": "摄像头 6",
        "6": "摄像头 7",
        "7": "摄像头 8"
    }
}
